name: CI Testing

# هيشتغل على كل push أو pull request للـ default branch
on:
  push:
    branches: [ main ]      
  pull_request:
    branches: [ main ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3   
    - name: Setup .NET
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: '8.0.*'
 
    - name: Restore dependencies
      run: dotnet restore PatientApi.sln

    - name: Build
      run: dotnet build PatientApi.sln --no-restore

    - name: Run Tests
      run: dotnet test PatientApi.sln --no-build --verbosity normal

